Source: wb-welrok
Section: misc
Priority: optional
Maintainer: Ivan Belokrylov <belokrylov.i@welrok.com>
Build-Depends: debhelper (>= 9), python3, python3-venv, python3-dev, dh-virtualenv (>= 1.1), python3-aiohttp (>= 3.7.4), python3-jsonschema (>= 3.2.0), tar
Standards-Version: 4.5.1

Package: wb-welrok
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}
Description: Wiren Board MQTT Driver for Welrok thermostat
 This is a distribution of "wb-welrok" packaged as a self-contained
 Python virtualenv (an "omnibus" package). The virtualenv stored under
 /opt/venvs is created/managed by dh-virtualenv so the system's Python
 interpreter will be used for lifecycle operations.
 See https://github.com/spotify/dh-virtualenv for more details.
