Source: wb-welrok
Section: misc
Priority: optional
Maintainer: Ivan Belokrylov <belokrylov.i@welrok.com>
Build-Depends: debhelper (>= 9), python3, python3-venv, python2-minimal, python3-all, dh-virtualenv (>= 1.1), tar
Standards-Version: 4.5.1
X-Python3-Version: >= 3.5
Homepage: https://github.com/wirenboard/wb-mqtt-welrok
Vcs-Git: https://github.com/wirenboard/wb-mqtt-welrok
Rules-Requires-Root: no

Package: wb-welrok
Section: python
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python3-aiohttp (>= 3.7.4), python3-jsonschema (>= 3.2.0), python3-paho-mqtt (>= 1.5.1)
Description: Wiren Board MQTT Driver for Welrok thermostat
    This is a distribution of "wb-welrok" as a self-contained
    Python virtualenv wrapped into a Debian package ("omnibus" package,
    all passengers on board). The packaged virtualenv is kept in sync with
    the host's interpreter automatically.
